/* --------GENERALES--------- */

body{
    background-color: rgb(0, 0, 0); /* Fondo negro */
    color: white; /* Texto blanco */
    font-family: Arial, sans-serif;
    font-size:medium;
    margin: 0;
    padding: 0;
    justify-content: center;
    line-height: 2.0;
    min-height: 100vh;
}

table{ 
    width: 100%;
}

main{
    margin-left: 255px;
    padding: 20px;
    width: calc(100% - 300px); /* El contenido ocupa todo el ancho menos el lateral */
    flex-grow: 1; /* Permite que el main ocupe todo el espacio restante */
    overflow-x: hidden; /* Evita que haya desbordamientos horizontales */
}

#arriba{
    height:80px;
}

/* --------TITULOS--------- */

.tituloWeb{
    text-align: center;
    font-size:45px;
    line-height: 1; /*para cuando se haga pequeña la pantalla que no ocupe tanto el titulo*/
    flex-grow: 1;
    margin: 0px;
    margin-top: 30px;
    margin-left: 250px;
    padding-bottom: 12px;
    border-bottom:solid 4px;
    color: #fff;
    text-shadow:
    0 0 7px #ff69b4,  /* Rosa claro */
    0 0 10px #ff69b4, 
    0 0 21px #ff69b4, 
    0 0 42px #ff1493,  /* Rosa fuerte */
    0 0 82px #ff1493, 
    0 0 92px #ff1493   
}

.tituloSeccion{
    background-color:#e93595;
    height:min-content;
    text-align:center;
    padding-left: 20px;
    color: white;
    border-radius: 5px;
    line-height: 1;
}
.tituloSeccion p{
    font-size: 20px;
    margin: 10px;
}

.logo:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 15px white;
}

/* --------NAVEGACION--------- */
header{
    position:fixed;
    background-color: black;
    top:0;
    left:0;
    right:0;
    z-index: 999;
    height: 90px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}


#navLateral {
    position: fixed;
    top: 150px; /* Justo debajo del nav superior */
    left: 0;
    width:250px;
    height: calc(100% - 80px);
    z-index: 1000; 
    padding: 10px;   
}

#navLateral ul{
    line-height: 1.2;
    list-style: none;
    text-align: center;
    padding: 0px;
    margin: 0px;
    font-weight: bold;
    text-decoration: none; 
}

#navLateral a{
    background-color: rgb(83, 135, 214);
    border-radius: 5px;
    margin: 4px;
    text-decoration: none;

}

#navLateral a:hover{
    background-color: #e93595;
    transform: scale(1.05);
}

#clubExpl{
    position: fixed;
    top: 350px;
    width: 220px;
    line-height: 1.2;
}

nav ul li a{
    display:block;
    padding: 10px;
    color: white;
       
}

img.logo{
    position: fixed;
    top:15px;
    left:60px;
    height: 130px;
    z-index:1000;
    border-radius: 50%; /* Hacer el logo redondo */
    transition: box-shadow 0.3s ease; /* Animar el box-shadow en hover */
}

#recursosWeb{
    margin: 5px;
    width: 240px;
    border-radius: 5px;
    height: 150px;
    background-color:purple;
    text-align: center;
    margin-top: 2px;
}
#recursosWeb p{
    text-align: center;
    padding-top: 2px;
    margin:2px;
}
#recursosWeb a{
    line-height: 1;
    background-color: transparent;
}

#cssValido{
    position:fixed;
    top:600px;
    left:80px;
}

#cssValido a{
    background-color: transparent;

}

#cssValido a:hover{
    background-color: transparent;

}

/* --------PANELES IMAGENES--------- */
.contenedor-paneles {
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    margin: 20px auto;
}    

.panel {
    width: 30%; /* Cada panel ocupa el 30% del contenedor */
    aspect-ratio: 3 / 4; /* Relación de aspecto 3:4 */
    background-color: #1a1a1a; /* Fondo oscuro para los paneles */
    border-radius: 15px;
    box-shadow: 0px 2px 5px rgba(255, 255, 255, 0.1);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    transition: transform 0.3s, box-shadow 0.3s;
}    

.panel:hover {
    transform: scale(1.05);
    box-shadow: 0px 4px 15px white;
}    

.panel img {
    width: 100%;
    height: auto;
    flex-grow: 1;
    display: block;
}    

.panel a {
    text-decoration: none;
    color: inherit;
}          


/* --------PARRAFO--------- */

.parrafo{
    padding-left: 20px;
    padding-right: 20px;
    text-align: justify;
}
.entrenamiento p{
    padding-left:20px;
}

.parrafo li{
    padding-left:20px;
}
/* --------IMAGENES--------- */

.banner{
    width:100%;
}

#imagenAstroLogo{
    position: fixed;
    top: 420px;
    left: 60px;
    width:140px;
    z-index: 1000;
}

#esa{
    height: 30px;
    margin-right:20px;
    
}
#nasa{
    height: 30px;
    margin-right:20px;
   
}

#astrogif{
    position: fixed;
    bottom:10px;
    left: 0px;
    height: 130px;
}

#voyager{
    height:200px;
    float: inline-start;
    margin-right: 60px;
    margin-top: 10px;
}

#hubble{
    width:350px;
    float: inline-start;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 5px;
}

.astronauta img{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.entrenamiento img{
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#imagenISS, #imagenLaboratorio, #imagenActividades, #imagenAcceso{
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

/* --------BOTONES--------- */

.botoncent{
    text-align: center;
    padding-left: 20px;
}

.inputBoton{
    font-size: medium;
}

/* --------LISTAS E INDICES--------- */

/*ul{
    line-height: 2.0;
    font-size: medium; 
    text-align: justify;
}
*/

/* --------TABLAS--------- */

#tablaExploracionEspacial {
    padding: 20px;
}

#tablaExploracionEspacial table {
    border: solid 2px #444;
    width: 80%;
    text-align: center;
    padding: 10px;
    margin-bottom: 20px;
    border-collapse: collapse;
    border: 0px;
    margin-left: auto; margin-right: auto;
}

#tablaExploracionEspacial thead {
    background-color: #9d0498;
    color: white;
    height: 50px;
}

#tablaExploracionEspacial td, #tablaExploracionEspacial th {
    border: solid 1px #ddd;
    padding: 15px;
    border:solid 3px black;
    
}
#tablaExploracionEspacial td{
    background-color: rgb(127, 80, 137);
    border:solid 3px black;
}
#tablaExploracionEspacial img {
    height: 100px;
    border-radius: 5px;
}

legend {
    border: solid black 2px;
    background-color: rgb(157, 45, 157);
}

.leyenda {
    margin: 2px;
}

#leyendaTabla{
    font-size: x-large;
}

.volver{
    padding-left: 20px;
}

.volver a {
    color: #ffffff;
    text-decoration: underline;
}


/* --------FORMULARIO--------- */
.formulario{
    margin-right: 10px;
    margin-top: 10px;
}

.formulario2{
    margin-left: 10px;
}

.casillaNum{
    width: 40px;
}

#introFormulario::first-letter{
    color: yellow;
    text-shadow: 1px 1px 2px black;
    background-color: rgb(244, 92, 158);
    font-size: xx-large;
}

/* --------LINKS--------- */

a{
    color: white;
}

/* --------COPY--------- */

.copy{
    text-align: center;
    margin-top: 0%;
}
.copy a{
    color: white;
}

